.banner__imagen{
    background: url(/Imagenes/Hero.PNG) no-repeat center / cover;
    width: 100%;
    height: calc(100vh - 18.75em);
}

.banner__titulo{
    color: #f5f5f5;
    font-weight: 700;
    font-size: 3rem;
    
}

.banner__parrafo{
    color: #f5f5f5;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.banner__boton{
    background-color: #2A7AE4;
    font-size: 1rem;
    color: #f5f5f5;
    border: none;
    padding: 1.3rem 1.5rem;
    cursor: pointer;
}

.banner__boton:hover{
    transition: .5s;
    background-color: #3386f3;
}

.banner__contenido{
    margin-left: 2rem ;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 0px) and (max-width: 1024px){
    .banner__contenido{
        margin: 0;
    }
    .banner__titulo{
        font-size: 2rem;
    }
    .banner__parrafo{
        font-size: 1.2rem;
    }
}
