*{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}


.nav-principal, img, input, button, .icono{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    
    
}
.logo{
    width: 176px;
    height: 50px;
}
input{
    padding: 8px 16px;
    background: #f5f5f5;
    border-radius: 20px;
    width: 393px;
    height: 40px;
    border: 1px solid #f5f5f5;
    align-items: flex-start;
    color: #A2A2A2;
}
.icono{
    position: absolute;
    width: 24px;
    height: 24px;
    background: none;
    left: 800px;
    align-items: flex-end;

}
button{
    padding: 20px ;
    width: 100px;
    height: 51px;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    text-align: center;
}

/* Hero section */

.hero-principal{
    display: flex;
    background-image:url(/Imagenes/Hero.png);
    height: 352px;
    flex-direction: column;
    align-self: stretch;
    
}

.hero-principal, header{
    color: #f5f5f5;
    justify-content: flex-end;
    gap: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    
}
header, h1, h3{
    margin: 0px 70px 10px;
}

#ver-consolas{
    margin-left: 70px;
    align-items: center;
    background-color: #2A7AE4;
    color: #f5f5f5;
    width: fit-content;
}

.productos-priarios,

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
    
}
.titulo-productos-primarios {

    width: 278px;
    height: 38px;
    color: #464646;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    right: 729px;
    margin: 10px 134px;
    
}
.ver-mas{
    flex-direction: flex-end;
}

li{
    padding: 10px;
    list-style-type: none;
}
li, p{
    padding-bottom: 10px;
}
.producto-descripcion span{
    color: #2A7AE4;
    font-size: 12px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
} 




.roadpie{
    background: #eaf2fd;
    width: auto;
    height: 470px;
}
footer{
    display: flex;
    margin: 64px 152px;
    padding: 64px;
    
}
.logo-footer{
    width: 179px;
    height: 51px;
    background: none;
    text-align: center;
    vertical-align: center;
    
}
#menu-general{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    height: 234px;
    width: 179px;
    padding:  1px 40px;
    font-size: 16px;
}
.mensaje{
    gap: 8px;
    width: 560px;
    height: 240px;
}
textarea{
    resize: none;
    border: none;
    border-radius: 20px;
}
.rodapie-final{
    text-align: center;
    margin: 32px 60px;
}
.texto-rodapie{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #464646;
    
}



/* 
        EJEMPLO DE LISTA DE PRODUCTOS DEL CURSO ALURA HTML PARTE3

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
} */

#product1 {
    text-align: center;
}
#product1 .pro-container{
    display: flex; 
    justify-content: space-between;
    padding-top: 28px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cecece;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.02 ease;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #2A7AE4;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    font-size: 14px;
    color: #464646;
}
#product1 .pro .des h5{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}